@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="infoId" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="title" name="" underline="true"/>
                            <#input id="infoContent" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="adminId" name="" underline="true"/>
                            <#input id="infoImg" name="" underline="true"/>
                            <#input id="infoFrom" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TbInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TbInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/InfoManager/tbInfo/tbInfo_info.js"></script>
@}
