<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TbInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.TbInfo">
        <id column="info_id" property="infoId" />
        <result column="create_time" property="createTime" />
        <result column="title" property="title" />
        <result column="info_content" property="infoContent" />
        <result column="admin_id" property="adminId" />
        <result column="info_img" property="infoImg" />
        <result column="info_from" property="infoFrom" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        info_id, create_time, title, info_content, admin_id, info_img, info_from
    </sql>

</mapper>
